@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");



body {
    font-family: Geneva, sans-serif;
    font-weight: lighter;
    color: rgba(246, 66, 66, 0.753);
    position: relative;
    background-attachment: fixed;
    background-color: #000000;
    background-image: radial-gradient(
            farthest-side at bottom left,
            rgb(172, 109, 75),
            transparent
        ),
        radial-gradient(
            farthest-corner at bottom right,
            rgba(95, 14, 29, 0.754),
            transparent
        );
    animation: gradient 15s ease infinite;
}


body:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background: radial-gradient(
        farthest-corner at bottom right,
        rgba(25, 14, 95, 0.395),
        transparent
    );
    opacity: 0;
    animation: fadeInOut 5s ease infinite;
}

@keyframes fadeInOut {
    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 0.2;
    }
}

a {
    font-weight: 500;
    color: rgba(246, 66, 66, 0.753);
    text-decoration: inherit;
}
a:hover {
    color: #535bf2;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

.top-links {
    padding: 2em;
    text-decoration: none;
    margin-bottom: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* box-shadow: 0 0px 40px rgba(215, 7, 7, 0.2); */
}

.top-links Link {
    text-decoration: none;
}

h1 {
    font-family:  Geneva, Verdana, sans-serif;
}

.header-container {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* .logo-bar {

} */

.navbar-link {
    color: white; 
    font-family: Geneva, Tahoma, sans-serif
}

.user-welcome {
    text-align: center;
}

.logo {
    margin-bottom: 4px;
}


.custom-btn {

    border-radius: 10px;
    padding: 10px; 
    font-size: 16px;
    color: #ffffff;
    background-color:rgba(255, 255, 255, 0.284);
    border: 1px solid rgb(255, 255, 255, 0.2);
    cursor: pointer; 

}

.form-container {
    border: 1px solid grey;
    padding: 40px;
    width: 300px;
    border-radius: 20px;
    background-color: rgb(102, 51, 153, 0.12);
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.form-label {
    margin-bottom: 10px;
    align-self: flex-start;
    font-size: large;
}

.form-field {
    border-radius: 5px;
    border: 1px solid grey;
    height: 20px;
    padding: 10px;
    font-size: large;
    color: rgb(80, 80, 80);
}

.card {
    margin-bottom: 6rem;
    display: flex;
    padding: 5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 17em;
    width: 17em;
    /* box-shadow: 0 0px 8px; */
    border: 1px solid rgba(255, 255, 255, 0.257); 
    border-radius: 20px;
    background-color: rgb(102, 51, 153, 0.12);
}

.feed {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-inst-link {
    text-decoration: none;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
    /* color: rgb(102, 51, 153, 0.5); */
}

h6 {
    margin: 0.5rem;
}

.inst-img {
    margin-top: 1rem;
    max-width: 200px;
    max-height: 15rem;
    margin-bottom: 20px;
}

.inst-title {
    text-align: center;
}

.inst-price {
    font-size: 18px;
}

.new-inst-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.card-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.edit-inst-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .single-instrument-box {
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.single-card {
    margin-bottom: 6rem;
    display: flex;
    padding: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 40em; */
    width: 40em;
    /* box-shadow: 0 5px 8px; */
    border: 1px solid rgba(255, 255, 255, 0.257); 
    border-radius: 20px;
    background-color: rgb(102, 51, 153, 0.12);
}

.single-container {
    /* margin-top: 100px; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.single-instrument-box img {
    max-width: 200px;
    
}

.one-inst-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inst-description {
    max-width: 30rem;
    text-align: justify;
}

.log-reg-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.edit-inst-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.edit-inst-header {
    text-align: center;
}
